/* 头部开始 */
body {
    position: relative;
}

.header {
    width: 100%;
    height: 80px;
    font-size: 28px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    position: fixed;
    z-index: 999;
}

.header .title {
    color: #333333;
    line-height: 80px;
    display: inline-block;
}

.header .left_logo {
    /* text-indent: 用来隐藏文字，保证语义化，有利于seo */
    text-indent: -1000px;
    text-align: center;
    line-height: 80px;
    width: 150px;
    height: 100%;
    float: left;
    background: url(../img/logo.png) no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: cover; */
}

.header .login_button {
    text-align: center;
    line-height: 80px;
    width: 200px;
    height: 100%;

    float: right;
}

.header .login_button span {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: coral;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

/* 头部结束 */

/* 中间区域开始 */

.container {
    width: 1519px;
    height: 800px;
    background: crimson;
    overflow: hidden;
    /* position: relative; */
}

.container .swiper {
    width: 300%;
    height: 100%;
    background: green;
    margin-left: 0;
    overflow: hidden;
}

.container .swiper li {
    width: 1519px;
    height: 100%;
    float: left;
    background: brown;
}

.container .swiper li img {
    display: block;
    width: 100%;
    height: 100%;
}



/* 中间注册区域开始 */
/**注册**/
.container .login_frame {
    position: absolute;
    text-align: center;
    left: 1097px;
    top: 200px;
    width: 350px;
    height: 430px;
    border-radius: 8px;
    background: white;
}

.container .login_frame h4 {
    padding: 20px;
    font-size: 28px;
    color: rgba(51, 51, 51, 1);
}
.container .login_frame .introdution{
    color: red;
}
.container .login_frame .acount, .container .login_frame .pwd{

    width: 300px;
    height: 30px;
    font-size: 16px;
    
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    border: 1px solid orange;
    background-color:#f0f0f0;
    padding: 5px;
}


.container .login_frame .code {
    height: 90px;
    width: 312px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: pink; */
    overflow: hidden;
}
.container .login_frame .code .code_check{
    width: 100%;
    height: 100%;
    line-height: 100%;
}
.container .login_frame .login_btn{

    width: 312px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
} 
.container .login_frame .login_btn .btn{
    float: left;
    width: 150px;
    height: 100%;
    color: #75759d;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid orange;
    border-radius: 6px;
}
.container .login_frame .login_btn .check{
    line-height: 30px;
    float: right;
    width: 100px;
    height: 100%;
}

.container .login_frame .register{
    width: 250px;
    height: 30px;
    margin-top: 40px;
    outline-style: none;
    border-radius: 6px;
    font-size: 16px;
    color: #75759d;
    border: 1px solid orange;
    cursor: pointer;
    background-color: #f0f0f0;
}
/* 中间注册区域结束 */
/* 中间区域结束 */

/* footer区域开始 */
.footer {
    width: 100%;
    height: 80px;
    background: white;
    text-align: center;
}

.footer p {
    padding-top: 20px;
    line-height: 100%;
}

.footer p:last-child {
    padding-top: 10px;
}

/* footer区域结束 */