/* 头部开始 */
body {
	position: relative;
}
.header {
	font-size: 18px;
	width: 100%;
	height: 80px;
	font-size: 28px;
	background-color: white;
	overflow: hidden;
	text-align: center;
	position: fixed;
	z-index: 999;
	text-decoration:underline 2px;
	box-shadow:0px 10px 10px -15px #000 ;
}
.header .title {
	color: #333333;
	line-height: 80px;
	display: inline-block;
}
.header .left_logo {
	/* text-indent: 用来隐藏文字，保证语义化，有利于seo */
	text-indent: -1000px;
	text-align: center;
	line-height: 80px;
	width: 150px;
	height: 90%;
	float: left;
	background: url(../img/logo.png) no-repeat;
	background-position: center;
	background-size: contain;
	/* background-size: cover; */
}
.navbox {
	float: right;
	margin-right: 50px;
}
.header .navbox .menu{
	margin:0;
	float:left;
}
.header .navbox .menu ul li {
	
    float: left;
    height: 85px;
    width: 100px ;
    text-align: center;
    font-size: 18px;
    color: #333333;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.header .navbox .menu li a {
    width: 100%;
    text-align: center;
	display: inline-block;
    height: 100%;
    line-height: 90px;
	font-family: Microsoft YaHei;
	cursor: pointer;
    color: #333333;
    text-decoration: none;
}
.header .navbox .menu  a:hover {
    border-bottom: 3px solid #e60214;
    cursor: pointer ;
	color: #e60214;
	text-decoration:underline 2px;
}
.header .navbox .menu  a.active {
    border-bottom: 3px solid #e60214;
    cursor: pointer !important;
    color: #e60214;
}
.header .navbox .login_button {
	width: 180px;
    position: relative;
    margin-top: 26px;
    float: left;
    margin-left: 30px;
}
.header .navbox .login_button span {
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	background-color: white;
	color: orange;
	border: 2px solid orange;
	border-radius: 8px;
	cursor: pointer;
}
.header .navbox .login_button span:hover {
	background-color: orange;
	color: white;
}

/* 头部结束 */
/*末尾区域开始*/
.footer {
	width: 100%;
	height: 80px;
	background: white;
	text-align: center;
}

.footer p {
	padding-top: 20px;
	line-height: 100%;
}

.footer p:last-child {
	padding-top: 10px;
}
/*末尾区域结束*/